---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/react/Hero.tsx";
import Historia from "../components/react/Historia.tsx";
import Especialidades from "../components/react/Especialidades.tsx";
import Espacio from "../components/react/Espacio.tsx";
import Menu from "../components/react/Menu.tsx";
import Instagram from "../components/react/Instagram.tsx";
import Eventos from "../components/react/Eventos.tsx";
import Ubicacion from "../components/astro/Ubicacion.astro";
---

<Layout>
  <main>
    <Hero client:load />

    <Historia client:load />

    <Especialidades client:load />

    <Espacio client:load />

    <Menu client:visible />

    <Instagram client:visible />

    <Eventos client:visible />

    <Ubicacion />
  </main>
</Layout>
