---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="h-screen flex items-center justify-center bg-crema">
    <h1 class="text-verde-oscuro text-4xl font-bold">Kaidō</h1>
  </main>
</Layout>
